node_modules/
.pnpm-store/
.pnp.*

.env
.env.*
!.env.example

.DS_Store

coverage/
*.lcov

**/dist/
**/build/
**/.vite/

**/.next/

**/artifacts/
**/cache/
**/typechain-types/
**/out/

**/.turbo/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

**/.idea/
**/.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json

postgres-data/
pgdata/
